<aside id="sidebar">
<h3>Latest solution architecture posts</h1>
<ul class="posts">
  {% for post in site.posts limit:3 %}
    <li><span>{{ post.date | date_to_string }}</span> &raquo; <a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></li>
  {% endfor %}
</ul>
<h4><a href="https://solution-architects.myspreadshop.de/" title="a shop with some cool t-shirts, stickers and cups for solution architects">Merch for Solution Architects</a></h4>
<h4><a href="https://www.linkedin.com/in/bastian-rang/" title="Linkedin profile, Bastian Rang">About me, Bastian Rang</a></h4>
<h4><a href="{% link imprint.markdown %}">Imprint / Impressum</a></h4>
</aside>