<!DOCTYPE html>
<html lang="{{ site.locale }}">
  {% include header.html %}
  <body>
    <header>
      <div class="inner">
        <h1><a href="{% link index.html %}">{{ site.name }}</a></h1>
        <h2>A blog about the life, the universe and <a href="/everything/" title="everything">everything about Solution Architecture</a></h2>
      </div>
    </header>

    <div id="content-wrapper">
      <div class="inner clearfix">
        <section id="main-content">
          
          {{ content }}

        </section>
        {% include aside.html %}
        {% include footer.html %}
      </div>
    </div>
  </body>
</html>
