<!DOCTYPE html>
<html lang="{{ site.locale }}">
  {% include header.html %}
  <body>
    <header>
      <div class="inner">
        <h1>{{ site.name }}</h1>
        <h2>{{ site.tagline }}</h2>
      </div>
    </header>

    <div id="content-wrapper">
      <div class="inner clearfix">
        <section id="main-content">
          
          {{ content }}

        </section>

        <aside id="sidebar">
          <h1>Blog Posts about solution architecture</h1>
          <ul class="posts">
            {% for post in site.posts limit:3 %}
              <li><span>{{ post.date | date_to_string }}</span> &raquo; <a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></li>
            {% endfor %}
          </ul>
        </aside>
        {% include footer.html %}
      </div>
    </div>
  </body>
</html>
