<!DOCTYPE html>
<html lang="{{ site.locale }}">
  {% include header.html %}
  <body>
    <header>
      <div class="inner">
        <h1>{{ site.name }}</h1>
        <h2>{{ site.tagline }}</h2>
      </div>
    </header>

    <div id="content-wrapper">
      <div class="inner clearfix">
        <section id="main-content">
          
          {{ content }}

        </section>

        <aside id="sidebar">
          
        </aside>
      </div>
    </div>
    {% include footer.html %}
  </body>
</html>
